{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
           
	    {% for comment in comments %}
             {% if post.id == comment.comment_post_id %}
		<article class="media content-section">
          	<img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/'+ comment.author.image_file) }}">
          	<div class="media-body">
            	 <div class="article-metadata">
              	  <a class="mr-2" href="#">{{ comment.author.username }}</a>
                  <small class="text-muted">{{ comment.date_posted.strftime('%Y-%m-%d') }}</small>
                 </div>
                <h4><a class="article-title" href="{{ url_for('comment', comment_id=comment.id) }}">{{comment.content}}</a></h4>

		</div>
                </article>
             {% endif %}
	    {% endfor %}
	   
          </div>
        </article>
    {% endfor %}
{% endblock content %}
